<div class="content">
  <h3>Login Here</h3>

  <form fxLayout="column" fxLayoutGap="3px" >
  <mat-form-field appearance="outline">
    <mat-label>National ID</mat-label>
    <input
      type="number"
      required
      matInput
    placeholder="Enter your ID">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      required
      type="password"
      placeholder="Type password here"
    >
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Sign In</button>
    <br>
    <mat-divider></mat-divider>
    <br>
    <button mat-stroked-button [routerLink]="['/sign-up']" color="primary">Sign Up</button>
  </form>


</div>
