<h2 style="margin: 1em">Welcome {{ !user ? '': user.firstName | titlecase}} {{ !user ? '' :user.lastName | titlecase}} </h2>
<mat-tab-group *ngIf="user.roles">
  <mat-tab *ngIf="user.roles.indexOf('admin')>=0" label="Admin Panel"><app-admin></app-admin></mat-tab>
  <mat-tab *ngIf="user.roles.indexOf('businessOwner')>=0" label="Business Owner Panel"><app-business-owner></app-business-owner></mat-tab>
  <mat-tab *ngIf="user.roles.indexOf('buildingOwner')>=0" label="Building Owner Panel"><app-building-owner></app-building-owner></mat-tab>
  <mat-tab *ngIf="user.roles.indexOf('personnel')>=0" label="Personnel Panel"><app-personnel></app-personnel></mat-tab>
</mat-tab-group>
