<div class="content" >
  <h2>Visitors Checked In</h2>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Looking for something?">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource"  >

      <!-- ID Column -->
      <ng-container matColumnDef="guest">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Guest </th>
        <td mat-cell *matCellDef="let row"> {{row.guest}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="businessVisiting">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Business Visiting </th>
        <td mat-cell *matCellDef="let row"> {{row.businessVisiting}} </td>
      </ng-container>


      <!-- Name Column -->
      <ng-container matColumnDef="timeIn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time In </th>
        <td mat-cell *matCellDef="let row"> {{row.timeIn | date: 'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="checkedOut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Checked Out </th>
        <td mat-cell *matCellDef="let row" > {{row.checkedOut? 'Yes' : 'No'}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="itemsCarried">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Items Carried </th>
        <td mat-cell *matCellDef="let row" > <div *ngFor="let item of row.itemsCarried"> {{item === ''? 'No items carried' :item | titlecase}} </div></td>
      </ng-container>

      <ng-container matColumnDef="timeOut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Out </th>
        <td mat-cell *matCellDef="let row" > {{row.timeOut | date: 'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef > Actions </th>
        <td mat-cell  *matCellDef="let row" > <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
          <mat-menu #menu="matMenu">
            <button *ngIf="!row.checkedOut" mat-menu-item (click)="checkOutVisitor(row.id)">
              <mat-icon>remove_circle</mat-icon>
              <span>Check Out</span>
            </button>
            <button *ngIf="row.checkedOut" mat-menu-item>
              <mat-icon>remove_circle</mat-icon>
              <span>No actions necessary</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator *ngIf="visits.length>0"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
