<mat-drawer-container class="example-container" >
  <mat-drawer #drawer [mode]="'side'">
    <mat-nav-list>
      <a mat-list-item (click)="pageSwitcher(1)">
        My Building(s)
      </a>
      <a mat-list-item (click)="pageSwitcher(4)">
        My Personnel
      </a>
      <a mat-list-item (click)="pageSwitcher(2)">
        Businesses Residing
      </a>
      <a mat-list-item (click)="pageSwitcher(3)">
        Settings
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <button  style="float: left" mat-icon-button color="primary" [matTooltip]="drawer.opened ? 'Close SideNav' : 'Reveal SideNav'" #sidenav (click)="drawer.toggle()" aria-label="Reveal SideNav">
      <mat-icon>{{drawer.opened ? 'menu_open': 'menu'}}</mat-icon>
    </button>
    <app-my-buildings *ngIf="tab===1"></app-my-buildings>
    <app-building-businesses-residing *ngIf="tab===2"></app-building-businesses-residing>
    <app-building-owner-settings *ngIf="tab===3"></app-building-owner-settings>
    <app-my-building-personnel *ngIf="tab===4"></app-my-building-personnel>
  </mat-drawer-content>
</mat-drawer-container>
